.App {
    font-family: sans-serif;
    text-align: center;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  .box1 {
    margin: 0 auto;
    width: 16rem;
    height: 20rem;
    background: rgba(255,255,255,0.2);
    border: 1px solid rgba( 255, 255, 255, 0.1 );
    border-radius: 10px;
    backdrop-filter: blur(2px);
  }
  
  .box2 {
    margin: 0 auto;
    width: 16rem;
    height: 20rem;
    background: rgba(16,18,27,0.2);
    border: 1px solid rgba( 255, 255, 255, 0.1 );
    border-radius: 10px;
    backdrop-filter: blur(2px);
  }